interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/Article/monthly/2022010100/2022013100
  response:
    body:
      string: '{"items":[{"project":"en.wikipedia","article":"Article","granularity":"monthly","timestamp":"2022010100","access":"all-access","agent":"all-agents","views":4703}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip:
      - 162.83.146.140
    status:
      code: 200
      message: OK
version: 1
