interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/InvalidArticle/monthly/2022010100/2022013100
  response:
    body:
      string: '{"detail":"The date(s) you used are valid, but we either do not have
        data for those date(s), or the project you asked for is not loaded yet. Please
        check documentation for more information.","method":"get","status":404,"title":"Not
        Found","type":"about:blank","uri":"/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/InvalidArticle/monthly/2022010100/2022013100"}'
    headers:
      content-type:
      - application/problem+json
      etag:
      - W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip:
      - 162.83.146.140
    status:
      code: 404
      message: Not Found
version: 1
